<!-- views/index.hbs -->

<div id="about-me" class="observed-section">
    <h2>About Me</h2>
    <p>
        I earned a <strong>Bachelor of Science in Marine Science</strong> from Texas A&M, with a
        focus in physical oceanography. I completed an undergraduate thesis on turbulence in water
        columns, which involved collecting and analyzing data from sensors in a coastal ecosystem in
        an effort to help define turbulence. This research involved using MATLAB for data analysis
        and oceanographic modeling. I also published and presented my findings, which helped me
        refine my ability to communicate complex scientific concepts to both academic and general
        audiences. 
        <br><br>
        My passion for research led me to pursue a <strong>Master of Science in Medical
        Science</strong> with a focus in biochemistry, opening the door to a job in a quality control
        lab for Marathon Petroleum. After reaching a plateau of self-growth with this company, I
        decided to reassess my career options, and I thought back to my days as an undergraduate,
        sitting behind a computer for hours at a time, and thoroughly enjoying solving problems from
        my keyboard. Therefore, I decided to pursue a <strong>Bachelor of Science in Computer
        Science</strong>, in order to marry my passion for computer science with the skills I had
        already earned in science.
        <br><br>
        Because, I have dedicated significant time and effort to developing my education and skills,
        I am excited about opportunities where I can leverage my strengths, while continuing to
        expand my knowledge and evolve professionally. My goal is to work with a team that shares my
        values, allowing me to bring passion to my career.
        <br><br>
    </p>
</div>

<div id="projects" class="observed-section">
    <h2>Projects</h2>
    <table id="project_list">
        <tbody>
            {{#each projects}}
            <tr>
                <td class="project_image">
                    <a href="{{this.site}}"
                    {{#if this.new_tab}}target="_blank" rel="noopener noreferrer"{{/if}}>
                        <img src="{{this.img_path}}" alt="{{this.title}} image">
                    </a>
                </td>
                <td>
                    <div class="project_description">
                        <h4>{{this.title}} - {{this.year}}</h4>
                        <p>{{this.description}}</p>
                        <ul>
                            {{#each this.software}}
                            <li><img src="img/{{this}}_logo.png" alt="{{this}} logo" height="35px"></li>
                            {{/each}}
                        </ul>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="experience" class="observed-section">
    <h2>Experience</h2>
    <table id="job_list">
        <tbody>
            {{#each jobs}}
            <tr>
                <td>
                    <div class="job_dates">
                        <h4>{{this.dates}}</h4>
                    </div>
                </td>
                <td>
                    <div class="job_details">
                        <h4>{{this.title}} - {{this.employer}}</h4>
                        <span>{{this.description}}</span>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="skills" class="observed-section">
    <h2>Skills</h2>
    <ul>
        {{#each skills}}
        <li><img src="{{this.src}}" alt="{{this.alt}}" height="35px">{{this.name}}</li>
        {{/each}}
    </ul>
</div>

<script src="js/scroll-spy.js" type="text/javascript"></script>
