<div id="projects">
    <h2>Projects</h2>
    <table id="project_list">
        <tbody>
            {{#each projects}}
            <tr>
                <td>
                    <div class="project_description">
                        <h2>{{this.title}} - {{this.year}}</h2>
                        <h3>{{this.short_description}}</h3>
                        <ul>Features:
                            {{#each this.features}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </td>
                <td class="project_image">
                    <a href="{{this.site}}" target='_blank' rel='noopener noreferrer'>
                        <img src="{{this.img_path}}">
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>