<h2>Projects</h2>
<div id="project_list">
    <ul>
        <li>
            An eCommerce website I built for a small business.
            <button onclick="show_project('{{source}}', '{{ldblm_port}}', 'ldblm')">Little Dreamer Big Leader Mobiles</button>
        </li>
        <li>
            A hiking app that I built with a classmate that tracks outdoor activities for users.
            <button onclick="show_project('{{source}}', '{{byte_hikers_port}}', 'byte_hikers')">Byte Hikers</button>
        </li>
        <li>
            Oceanographic research project that attempts to describe turbulence intensity with a novel approach.
            <button onclick="show_project('{{source}}', '{{ocean_port}}', 'ocean')">Undergraduate Research Project</button>
        </li>
    </ul>
</div>

<div>
    <p id="about-project"></p>
    <iframe id="project" frameBorder="0"></iframe>
</div>

<script src="/js/show-project.js"></script>
